In [71]:
import pandas as pd
from tqdm.notebook import tqdm
import numpy as np
file = pd.read_csv("F:/Supsi/COVID-19-Tweets/Vishnu/rt_nt_2.csv", 
                   lineterminator="\n", low_memory=False)
dozen = pd.read_csv("F:/Supsi/COVID-19-Tweets/Vishnu/users_dozen.csv", 
                   lineterminator="\n", low_memory=False)

In [72]:
names = []
names = list(file["name"])
names.extend(list(file["rt_name"]))
total_n = names
df_filter = pd.DataFrame(total_n, columns=["name"])
df_filter = df_filter[df_filter.groupby('name').name.transform(len) > 10]
df_filter

                     name
0         JustAnotherAme4
1              HHSRegion8
2               Gambiste1
4                    wQQn
6         HeleneFernand16
...                   ...
11906905         awstar11
11906906      VerbatimHKG
11906907       OzraeliAvi
11906908    RealMattCouch
11906909      aubrey_huff

[9859525 rows x 1 columns]

In [75]:
to_mantains = list(set(list(df_filter["name"])))
file = file.loc[(file['name'].isin(to_mantains)) & (file['rt_name'].isin(to_mantains))]
file

                    name          rt_name
0        JustAnotherAme4             cnni
1             HHSRegion8           CDCgov
4                   wQQn     guardiannews
6        HeleneFernand16             cnni
7             IPACCanada           CDCgov
...                  ...              ...
5953448        Gibbs_mom       BuckSexton
5953449         MoorFrau  FridayForFuture
5953450     Tribble_Bait         awstar11
5953452    wildflower_wa       OzraeliAvi
5953453      TTysonToni1    RealMattCouch

[4080146 rows x 2 columns]

In [76]:
names = []
names = list(file["name"])
names.extend(list(file["rt_name"]))
names = list(set(names))
index = []
for i in range(len(names)):
    index.append(i)

In [77]:
nodes = pd.DataFrame(list(zip(index, names)), columns=["id", "label"])
nodes_merged = nodes.merge(dozen, left_on="label", right_on="name", how="left")
nodes_merged = nodes_merged.drop(columns=['name'])
nodes_merged

            id            label dozen
0            0         MrRandem   NaN
1            1       SteveBayrd   bad
2            2  LindaJo37797985   NaN
3            3     cynic_grumpy   bad
4            4           NO_EMR   bad
...        ...              ...   ...
129616  129616   EgbunaChibuike   NaN
129617  129617          seni_bl   NaN
129618  129618          ver_wey   NaN
129619  129619       Thomas_IL_   NaN
129620  129620    ilovemmasobad   bad

[129621 rows x 3 columns]

In [78]:
df_name_index = pd.DataFrame(list(zip(index, names)), columns=["id_in", "label"])
merge_file_nodes = file.merge(df_name_index, left_on="name", right_on="label", how="left")
merge_file_nodes = merge_file_nodes[["name", "rt_name", "id_in"]]
df_name_index = pd.DataFrame(list(zip(index, names)), columns=["id_out", "label"])
merge_file_nodes = merge_file_nodes.merge(df_name_index, left_on="rt_name", right_on="label", how="left")
merge_file_nodes = merge_file_nodes[["id_in", "id_out"]]
merge_file_nodes.rename(columns={"id_in": "Source", "id_out": "Target"}, inplace=True)

In [79]:
edges = merge_file_nodes

In [80]:
edges

         Source  Target
0         82702    6820
1         30497   90176
2          4989   36524
3          3417    6820
4         77533   90176
...         ...     ...
4080141   11621   48115
4080142   47644  124376
4080143   88307  119070
4080144   19485   43395
4080145   69220   96554

[4080146 rows x 2 columns]

In [81]:
nodes_merged.to_csv("C:/Users/gianl/Desktop/Gi/Supsi/nodes.csv", line_terminator="\n",
             encoding="utf-8", index=False)
edges.to_csv("C:/Users/gianl/Desktop/Gi/Supsi/edges.csv", line_terminator="\n",
             encoding="utf-8", index=False)