In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import time
from time import perf_counter
import glob
import sys
sys.path.append('C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/notebook/tweet_utils')
import tweets_utils
import json
import matplotlib.pyplot as plt
import plotly.express as px
from matplotlib.pyplot import figure
from tqdm.notebook import tqdm
import importlib
import matplotlib.ticker as mtick

In [2]:
# path = glob.glob('C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/json_scored/*.json')
path = glob.glob("C:/Users/gianl/Desktop/bom/*/*.json")
path

['C:/Users/gianl/Desktop/bom\\users_1\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\users_10\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\users_11\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\users_12\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\users_2\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\users_3\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\users_4\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\users_5\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\users_6\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\users_7\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\users_8\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\users_9\\score_results.json',
 'C:/Users/gianl/Desktop/bom\\user_0\\score_results_0.json',
 'C:/Users/gianl/Desktop/bom\\user_13\\score_results_13.json']

In [3]:
ids = []
names = []
caps = []
scores = []
error = 0
for i in tqdm(path):
    f = open(i, )
    data = json.load(f)
    keys = list(data.keys()) 
    for k in keys:
        d = data[k]
        if(d["scores"] is None):
            error = error + 1
        elif len(list(d["scores"].keys())) == 2:
            error = error + 1
        else:
            id_ = d["id"]
            name = d["screen_name"]            
            cap = d["scores"]['cap']
            score = d["scores"]['raw_scores']["english"]
            ids.append(id_)
            names.append(name)
            caps.append(cap)
            scores.append(score)
    f.close()

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=14.0), HTML(value='')))

In [4]:
len(names)

36367

In [5]:
error

176020

In [21]:
path_data = glob.glob("C:/Users/gianl/Desktop/bom/*/*.csv")
df = pd.DataFrame()
for i in path_data:
    df_read = pd.read_csv(i)
    df = df.append(df_read)
    
df

                       id      screen_name
0                23413783          mrdysgo
1                23416945        PartyPrat
2                23419694       lilrinnieb
3                23422208    OfficialSchwa
4                23422336  FamilyTruckster
...                   ...              ...
4423  1331969808330596352      newhavensue
4424  1332089067312459776  VicentedeCarva7
4425  1332194261509541888        ellis2503
4426  1332387451667505152    DrewSchaffer5
4427  1333008075515596800  campeanu_carmen

[212428 rows x 2 columns]

In [23]:
path_data = glob.glob("C:/Users/gianl/Desktop/bom/*.csv")
path_data
df = pd.read_csv(path_data[0])
df

                         id      screen_name
0                       224         davepell
1                       291          goldman
2                       509   jerrymichalski
3                       586            sacca
4                       767             xeni
...                     ...              ...
212423  1331969808330596352      newhavensue
212424  1332089067312459776  VicentedeCarva7
212425  1332194261509541888        ellis2503
212426  1332387451667505152    DrewSchaffer5
212427  1333008075515596800  campeanu_carmen

[212428 rows x 2 columns]

In [88]:
212428 - 212387

41

In [16]:
x = pd.DataFrame(list(zip(ids, names, caps, scores)), columns=["id", "screen_name", "cap", "scores"])
x["cap"][0]

{'english': 0.30618807248975083, 'universal': 0.43650814830094437}

In [12]:
x = x.sort_values(by=["id"])

In [13]:
x.to_csv("C:/Users/gianl/Desktop/bom/scores.csv", line_terminator="\n", index=False, encoding="utf-8")